@import url('https://fonts.googleapis.com/css2?family=Geist+Pixel&family=Jersey+10&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Geist Pixel", sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: oklch(26.9% 0 none);
}

.startContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    inset: 0;
    font-weight: bold;
    pointer-events: none;
    transition: opacity 1s ease-in-out;
}

.startContainer>span {
    display: inline-block;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.188);
    opacity: 1;
    animation: float 1000ms ease-in-out infinite;
}

.medalContainer {
    position: relative;
    top: -50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.medalContainer>img {
    object-fit: cover;
    height: 100%;
    width: 50px;
}

.medalContainer>span {
    font-family: "Jersey 10", sans-serif;
    font-size: 40px;
    font-weight: bold;
    -webkit-text-stroke: 1px black;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }

    100% {
        transform: translateY(0);
    }
}